$grey-lighten-4: #616161;


.title{
    color: #37474F;
}
.blog-name{
    padding-top: 1rem;
    color: $grey-lighten-4;
    height: 100%;
    font-weight: bold;
    text-align: center;
}
.blog-appbar-col {
    color: $grey-lighten-4;
    height: 100%;
    font-weight: bold;
    text-align: center;
    padding-right: 2rem !important;
}
.introduction-title {
    color: $grey-lighten-4;
    font-weight: bold;
    font-size: large;
}