$grey-lighten-4: #616161;


.title{
    color: #37474F;
}
.blog-name{
    padding-top: 1rem;
    color: $grey-lighten-4;
    height: 100%;
    font-weight: bold;
    text-align: center;
}
.blog-appbar-col {
    color: $grey-lighten-4;

    font-weight: bold;
    text-align: center;
    font-size: larger;
}
.introduction-title {
    color: $grey-lighten-4;
    font-weight: bold;
    font-size: large;
}

.subTitle{
    color: $grey-lighten-4;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.skill-title{
    color: $grey-lighten-4;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.experence-main {
    padding-top: 1rem;
    color: $grey-lighten-4;
    height: 100%;
    font-weight: bold;
    text-align: left;
}
.experence-sub {
    color: $grey-lighten-4;
    font-weight: bold;
    text-align: left;
}